.header{
    background-color: lightgrey;
    padding: 10px;
    margin-bottom: 0px;
}

.application{
    display: flex;
}

.add-friend{
    width: 30%;
    margin: 50px;
}

.friend-list{
    width: 30%;
    margin: 50px;
}

.searchbox{
    width: -webkit-fill-available;
    padding: 10px;
}

.flist-container{
    list-style: none;
    border: 1px solid gray;
    margin: 0;
    padding: 0;
}

.list-item{
    border: 1px solid gray;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.flex-basis{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 15px;
}

.fname{
    margin:0;
    font-style: bold;
}

.sub-heading{
    color: gray;
}

.icon{
    border: 1px solid gray;
    padding: 6px;
    margin: 5px;
    color: gray;
    cursor: pointer;
}

.favourite{
    color: red;
}

.mymodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
  }
  
  .myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .Modal-button{
     margin: 10px;
  }

  .add-friend-error{
      color: red;
  }

  .pagination{
    justify-content: center;
    margin: 10px;
  }

  .pagination-list{
      border: 1px solid gray;
      padding: 4px;
  }

  .pagination-list:hover{
      color: white;
      background-color:turquoise;
  }